# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\ed1_kanban\kanban\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
